/* ========================================= Dishes  */
#dish {
    margin: 30px 30px 0 30px;
    padding: 20px;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.dish-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

h3 {
    font-size: 1rem;
}

.info {
    cursor: pointer;
}

.dish-p {
    font-size: 0.9rem;
    margin-top: 0;
}

#dish-plus {
    position: relative;
    height: 24px;
    border: 8px solid #e2e2e2;
    border-radius: 100%;
    background-color: #e2e2e2;
    cursor: pointer;
}

#dish-plus:hover {
    border: 8px solid #c7c7c7;
    background-color: #c7c7c7;
    cursor: pointer;
}

/* ========================================= Footer */
footer {
    height: 150px;
    background-color: #f0edea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    gap: 5px;
    flex-wrap: wrap;
}

footer a {
    color: rgb(71, 71, 71);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-details {
    padding-top: 20px;
}

footer p {
    color: rgb(71, 71, 71);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p:nth-child(2) {
    margin-bottom: 0;
}

/* ========================================= Imprint  */
.imprint {
    margin: 30px;

}

.imprint div {
    display: flex;
    align-items: center;
}

.imprint-img {
    height: 30px;
    padding-right: 10px;
}

.imprint p {
    padding: 10px 0;
    line-height: 25px;
    margin: 0;
}

.imprint a {
    color: black;
}



/* ========================================= Right Side  */
#right {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 30%;
    box-shadow: -11px 5px 8px -1px rgba(0, 0, 0, 0.02);
    overflow-y: scroll;
    padding: 0 10px 30px 20px;

}

#right::-webkit-scrollbar {
    display: none;
}

#cart,
#cart2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#right h4 {
    margin-top: 55px;
    text-align: center;
    font-size: 1.3rem;
}

.cart-bag {
    padding: 40px 0 15px 0;
}

#cart2 h4 {
    font-size: 1.3rem;
    margin: 0;
}

#cart2 p {
    font-size: 1rem;
    text-align: center;
}

/* ========================================= Right Side Basket */
#addedBasket {
    width: 80%;
}

.basket-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket-headline h5 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.basket-portion {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.basket-portion p {
    text-decoration: underline;
    color: #c7c7c7;
}

.basket-portion p:hover {
    text-decoration: none;
}

.basket-img {
    height: 15px;
    margin-left: 10px;
    background-color: #e2e2e2;
    border: 4px solid #e2e2e2;
    border-radius: 10px;
    cursor: pointer;
}

.basket-img:hover {
    background-color: #c7c7c7;
    border: 4px solid #c7c7c7;
}

.calc-sum {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.calc-sum p {
    display: flex;
    justify-content: space-between;
}

.delivery span {
    color: #008300;
}

#pay-btn {
    font-size: 1.2rem;
    padding: 10px 0;
    margin-top: 10px;
    color: white;
    border: 1px solid rgb(252, 139, 2);
    background-color: rgb(252, 139, 2);
    border-radius: 10px;
    cursor: pointer;
}

#pay-btn:hover {
    border: 1px solid #ef5c01d6;
    background-color: #ef5c01d6;
}

#responsiveBasket {
    display: none;
}

.responsive-basket {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    z-index: 1000;
}

.responsive-btn {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    border-top: 1px solid #f0edea;
}

#responsive-pay-btn {
    font-size: 1.2rem;
    padding: 10px;
    margin: 20px;
    color: white;
    border: 1px solid rgb(252, 139, 2);
    background-color: rgb(252, 139, 2);
    border-radius: 10px;
    cursor: pointer;
    width: 90%;
    z-index: 999;
}

#responsive-pay-btn:hover {
    border: 1px solid #ef5c01d6;
    background-color: #ef5c01d6;
}

/* ========================================= Responsive */
@media (max-width: 1000px) {
    #right {
        display: none;
    }

    .left {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .search {
        margin: 15px 0px 0 30px;
    }

    #responsiveBasket {
        display: unset;
    }

    .responsive-container {
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 80px;
        z-index: 1000;
    }

    footer {
        margin-bottom: 83px;
    }
}